.App {
  overflow-x: hidden;
  background-color: white;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.projectRow {
  align-content: center;
  align-items: center;
  min-height: 300px;
  padding: 15px;
  margin: 25px;
  border-radius: 10px;
  background-color: #c2d8fd;
  -webkit-box-shadow: 9px 7px 48px -19px black;
  -moz-box-shadow: 9px 7px 48px -19px black;
  box-shadow: 9px 7px 48px -19px black;
}

.header_container{
  border-radius: 15px;
  background-color: #c2d8fd;
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: inset 9px 9px 34px -15px black;
  -moz-box-shadow: inset 9px 9px 34px -15px black;
  box-shadow: inset 9px 9px 34px -15px black;
  -webkit-box-shadow: 9px 9px 34px -15px black;
  -moz-box-shadow: 9px 9px 34px -15px black;
  box-shadow: 9px 9px 34px -15px black;
}

.project{
  align-content: center;
  align-items: center;
}

.projectCol {
  width: 50%;
  align-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px;
  border-width: 1px;
  border-color: #282c34;
}

.imagen_container{
  border:10px white;
  border-radius: 8px;
  -webkit-box-shadow: inset 10px 10px 34px -15px black;
  -moz-box-shadow: inset 10px 10px 34px -15px black;
  box-shadow: inset 10px 10px 34px -15px black;
  -webkit-box-shadow: 10px 10px 34px -15px black;
  -moz-box-shadow: 10px 10px 34px -15px black;
  box-shadow: 10px 10px 34px -15px black;
}

.tecnologia {
  padding: 6px;
  background-color: black;
  color: white;
  margin: 1px;
  align-content: center;
  align-items: center;
  -webkit-box-shadow: inset 10px 10px 34px -15px black;
  -moz-box-shadow: inset 10px 10px 34px -15px black;
  box-shadow: inset 10px 10px 34px -15px black;
  -webkit-box-shadow: 10px 10px 34px -15px black;
  -moz-box-shadow: 10px 10px 34px -15px black;
  box-shadow: 10px 10px 34px -15px black;
}

.App-header {
  min-height: 350px;
  background-color: white;
  display: flex;
  font-size: calc(10px + 2vmin);
}

.footer {
  background-color: white;
  height: 100px;
  align-content: center;
  align-items: center;
  left:0;
  bottom:0;
  right:0;
}

.nav-bar{
  background-color: black;
}

.titulo{
  color:white;
  font-weight: normal;
  margin: auto;
  border: black;
  border-width: 1px;
  font-size: 20px;
}

.brand{
  display: flex;
  flex-direction: row;
  width: 195px;
  justify-content: space-between;
}

.perfil{
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 15px;
  margin: 2px;
}

.App-link {
  color: #61dafb;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}